<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.palladiosimulator.simulizar.power Target Platform" sequenceNumber="1">
<locations>
   	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/releases/latest/"/>
		<unit id="org.palladiosimulator.simucom.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/nightly/"/>
		<unit id="org.palladiosimulator.simucom.feature.feature.group" version="0.0.0"/>
	</location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
        <unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/"/>
        <unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest/"/>
        <unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/nightly/"/>
        <unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/releases/latest/"/>
        <unit id="org.palladiosimulator.analyzer.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/nightly/"/>
        <unit id="org.palladiosimulator.analyzer.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/releases/latest/"/>
        <unit id="de.uka.ipd.sdq.workflow.feature.core.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/nightly/"/>
        <unit id="de.uka.ipd.sdq.workflow.feature.core.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/releases/latest"/>
        <unit id="de.uka.ipd.sdq.featureconfig" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/nightly/"/>
        <unit id="de.uka.ipd.sdq.featureconfig" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/releases/latest/"/>
        <unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/nightly/"/>
        <unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/releases/latest"/>
        <unit id="org.palladiosimulator.edp2.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/nightly/"/>
        <unit id="org.palladiosimulator.edp2.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/releases/latest/"/>
        <unit id="org.palladiosimulator.metricspec.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/nightly/"/>
        <unit id="org.palladiosimulator.metricspec.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest/"/>
        <unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/nightly/"/>
        <unit id="org.palladiosimulator.thirdpartywrapper.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/releases/latest/"/>
        <unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/nightly/"/>
        <unit id="org.palladiosimulator.measurementframework.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/releases/latest/"/>
        <unit id="org.palladiosimulator.reliability.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/nightly/"/>
        <unit id="org.palladiosimulator.reliability.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-solver/releases/latest/"/>
        <unit id="org.palladiosimulator.solver.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-solver/nightly/"/>
        <unit id="org.palladiosimulator.solver.feature.feature.group" version="0.0.0"/>
    </location>

	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/releases/latest/"/>
		<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/nightly/"/>
		<unit id="org.palladiosimulator.probeframework.feature.feature.group" version="0.0.0"/>
	</location>


    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/releases/latest/"/>
        <unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/nightly/"/>
        <unit id="org.palladiosimulator.recorderframework.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/releases/latest/"/>
        <unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-sensorframework/nightly/"/>
        <unit id="de.uka.ipd.sdq.sensorframework.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/releases/latest/"/>
        <unit id="de.uka.ipd.sdq.simulation.abstractsimengine.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/nightly/"/>
        <unit id="de.uka.ipd.sdq.simulation.abstractsimengine.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/releases/latest/"/>
        <unit id="org.palladiosimulator.scheduler.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/nightly/"/>
        <unit id="org.palladiosimulator.scheduler.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-experimentanalysis/releases/latest/"/>
        <unit id="org.palladiosimulator.experimentanalysis.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-experimentanalysis/nightly/"/>
        <unit id="org.palladiosimulator.experimentanalysis.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" refresh="true">
		<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-limbo/nightly/"/>
		<unit id="tools.descartes.dlim.feature.feature.group" version="0.0.0"/>
	</location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/releases/latest/"/>
        <unit id="org.palladiosimulator.simulizar.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/nightly/"/>
        <unit id="org.palladiosimulator.simulizar.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/releases/latest/"/>
        <unit id="org.palladiosimulator.monitorrepository.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/nightly/"/>
        <unit id="org.palladiosimulator.monitorrepository.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/releases/latest/"/>
        <unit id="org.scaledl.usageevolution.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/nightly/"/>
        <unit id="org.scaledl.usageevolution.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/releases/latest/"/>
        <unit id="org.palladiosimulator.servicelevelobjective.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/nightly/"/>
        <unit id="org.palladiosimulator.servicelevelobjective.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/releases/latest/"/>
        <unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/nightly/"/>
        <unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/latest/"/>
        <unit id="org.modelversioning.emfprofile.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/nightly/"/>
        <unit id="org.modelversioning.emfprofile.feature.feature.group" version="0.0.0"/>
    </location>

	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
        <repository location="https://updatesite.mdsd.tools/library-emfeditutils/nightly/"/>
        <unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
		<repository location="https://updatesite.mdsd.tools/library-emfeditutils/releases/latest/"/>
		<unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
	</location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.mdsd.tools/thirdparty-library/releases/latest/"/>
        <unit id="com.google.auto.factory-annotations.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.mdsd.tools/thirdparty-library/nightly"/>
        <unit id="com.google.auto.factory-annotations.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-library/releases/latest/"/>
        <unit id="org.jscience.feature.feature.group" version="0.0.0"/>
        <unit id="org.jscience.feature.source.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-library/nightly"/>
        <unit id="org.jscience.feature.feature.group" version="0.0.0"/>
        <unit id="org.jscience.feature.source.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-addons-power/releases/latest/"/>
        <unit id="de.fzi.power.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.palladio-simulator.com/palladio-addons-power/nightly/"/>
        <unit id="de.fzi.power.feature.feature.group" version="0.0.0"/>
    </location>

</locations>
</target>
